.chat {
    position: relative;
    background: url("../img/mt.jpg") no-repeat center;
    width: 100%;
    height: 100%;

    &-content {
        width: 100%;
        height: 100%;
        padding-bottom: 242px;
    }

    &-messages {
        height: 100%;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 20px;

        &__date {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            overflow: hidden;

            &::before,
            &::after {
                content: "";
                position: relative;
                display: inline-block;
                vertical-align: middle;
                background: $color-light;
                width: 100%;
                height: 1px;
            }

            &::before {
                margin-left: -100%;
                left: -15px;
            }

            &::after {
                margin-right: -100%;
                left: 15px;
            }
        }

        &__item {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;

            &_align {
                &_left {
                    justify-content: flex-start;
                    padding-left: 15px;
                    padding-right: 80px;
                }

                &_right {
                    justify-content: flex-end;
                    padding-left: 80px;
                    padding-right: 15px;
                }
            }
        }



        &__avatar {
            background-size: 100%;
            flex: 0 0 45px;
            width: 45px;
            height: 45px;

            img {
                clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
                width: 100%;
                height: auto;
            }
        }

        &__text {
            position: relative;
            background: $color-message;
            border-radius: 5px;
            padding: 11px 15px;
            line-height: 1.71428571;

            &::before {
                content: "";
                position: absolute;
                border-top: 7px solid $color-message;
                width: 0;
                height: 0;
                top: 7px;
            }

            span {
                display: inline-block;
                word-break: break-all;
                max-width: 100%;
            }
        }

        &__item_align_left &__avatar {
            order: 0;
        }

        &__item_align_right &__avatar {
            order: 1;
        }

        &__item_align_left &__text {
            margin-left: 20px;

            &::before {
                border-left: 7px solid transparent;
                left: -7px;
            }
        }

        &__item_align_right &__text {
            margin-right: 20px;

            &::before {
                border-right: 7px solid transparent;
                right: -7px;
            }
        }
    }

    &-form {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 242px;
        width: 100%;
        border-top: 1px solid $color-light;
        padding: 20px 40px 30px 20px;

        &__group {
            margin-bottom: 20px;
        }

        &__textarea {
            display: block;
            height: 130px;
            width: 100%;
            resize: none;
            outline: 0;
            background: $color-white;
            border: 1px solid $color-light;
            border-radius: 4px;
            color: $color-textarea;
            font-family: $font-noto-sans;
            font-size: 14px;
            line-height: 1.35714285;
            padding: 10px;
        }

        &__button {
            font-family: $font-proxima-nova-bold;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.3125;
            color: $color-white;
            outline: 0;
            border: 0;
            border-radius: 21px;
            background: $color-button;
            box-shadow: 0px 4px 6px rgba($color-button, .3);
            padding: 10px 30px;
            cursor: pointer;
        }
    }
}