.footer {
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #c4c4c4;
        height: 90px;
        margin-left: ceil(($grid-gutter-width / -2));
        margin-right: floor(($grid-gutter-width / -2));
    }

    &__text {
        font-size: 24px;
    }
}