.tiles {
    margin-top: 5px;
    margin-bottom: 5px;

    @include respond-to(xs) {
        margin-left: -5px;
        margin-right: -5px;
        overflow: hidden;
    }

    @include respond-to(sm) {
        margin-left: 8px;
        margin-right: 8px;
    }

    &__item {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 155px;

        &_color {
            &_gray {
                background-color: $color-gray;
            }

            &_silver {
                background-color: $color-silver;
            }

            &_blue {
                background-color: $color-blue;
            }

            &_orange {
                background-color: $color-orange;
            }

            &_green {
                background-color: $color-green;
            }

            &_coral {
                background-color: $color-coral;
            }

            &_red {
                background-color: $color-red;
            }

            &_purple {
                background-color: $color-purple;
            }
        }

        &_figure {
            &_square {
                height: 0;
                padding-top: 100%;
            }
        }
    }

    &__item_event_hover {
        cursor: pointer;

        &::after {
            content: "!";
            position: absolute;
            width: 61px;
            height: 61px;
            top: 50%;
            left: 50%;
            margin-top: -30.5px;
            margin-left: -30.5px;
            font-size: 36px;
            color: $color-red;
            line-height: 61px;
            background: $color-white;
            border-radius: 50%;
            text-align: center;
            visibility: hidden;
            transform: scale(0);
            opacity: 0;
            transition: all $duration;
        }
    }

    &__item_event_hover:hover {
        &::after {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }
    }

    &__item_event_hover:hover &__inner {
        filter: blur(4px);
    }

    &__item_event_hover:hover &__image-ie {
        image {
            filter: url(#blur);
        }
    }

    &__item_event_hover:hover &__text {
        &_color {
            &_white {
                text-shadow: 1000px 0 4px $color-white;
                text-indent: -1000px;
            }
        }
    }

    &__inner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        overflow-y: auto;
        transition: filter $duration;
    }

    &__text {
        align-self: flex-end;

        &_color {
            &_black {
                color: $color-black;
            }

            &_white {
                color: $color-white;
            }
        }

        &_size {
            &_big {
                font-size: 18px;
                line-height: 1.44444444;
            }
        }

        &_align_start {
            align-self: flex-start;

            @include respond-to(sm) {
                max-width: 420px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 15px;
            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &_name {
            &_sea {
                background: url('../img/sea.jpg') no-repeat center center;
                background-size: 100%;
            }
        }

        @include respond-ie {
            display: none;
        }
    }

    &__image-ie {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;

        svg {
            width: 100%;
            height: 100%;
        }

        @include respond-ie {
            display: block;
        }
    }

    &-table {
        font-family: $font-noto-sans;
        line-height: 1.3571428;
        width: 100%;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            overflow: hidden;
            margin-top: 30px;
            margin-bottom: 30px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__cell {
            max-width: 50%;

            &_role {
                &_title {
                    padding-right: 10px;

                    &::after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        border-bottom: 1px dashed $color-black;
                        margin-left: 10px;
                        bottom: 4px;
                    }
                }

                &_value {
                    text-align: right;
                    padding-left: 10px;
                }
            }
        }

        &__text {
            position: relative;
            z-index: 1;

            &_color {
                &_green {
                    background: $color-green;
                    box-shadow: -10px 0 0 0 $color-green;
                }
            }
        }
    }
}