*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 1.42857143;
    color: $color-black;
    background-color: $color-white;
    height: 100%;
}

@-ms-viewport {
    width: device-width;
}