@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i&subset=cyrillic');

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}