.wrapper {
    width: 100%;
}

.container {
    @include make-container($grid-gutter-width);

    @include respond-to(xs) {
        min-width: $screen-xs-min;
    }

    @include respond-to(sm) {
        max-width: $screen-sm-max;
    }
}

.row {
    @include make-row($grid-gutter-width);
}

.col {
    @include make-col($grid-gutter-width);
}

@include make-grid(xs);

@include respond-to(sm) {
    @include make-grid(sm);
}