.clearfix {
    @include clearfix;
}

.center-block {
    @include center-block;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}

.visible-xs,
.visible-sm {
    display: none !important;
}

@include respond-to(xs) {
    .visible-xs {
        display: block !important;
    }

    .hidden-xs {
        display: none !important;
    }

    .order-xs-first {
        order: -1;
    }

    .order-xs-last {
        order: $grid-columns + 1;
    }
}

@include respond-to(sm) {
    .visible-sm {
        display: block !important;
    }

    .hidden-sm {
        display: none !important;
    }

    .order-sm-first {
        order: -1;
    }

    .order-sm-last {
        order: $grid-columns + 1;
    }
}