$duration: .2s;

$color-black: #000;
$color-white: #fff;
$color-gray: #a2a9b7;
$color-silver: #e8ebed;
$color-blue: #90bce8;
$color-orange: #febf26;
$color-green: #e3ebd3;
$color-coral: #ffaa87;
$color-red: #f55e62;
$color-purple: #c7abd4;
$color-light: #dbdbdb;
$color-textarea: #696969;
$color-button: #0f54b9;
$color-message: #f1f3f5;

$font-roboto: 'Roboto', sans-serif;
$font-noto-sans: 'Noto Sans', sans-serif;
$font-proxima-nova-bold: 'Proxima Nova Bold';

$screen-xs-min: 320px;
$screen-xs-max: 480px;
$screen-sm-min: $screen-xs-max + 1px;
$screen-sm-max: 768px;

$grid-columns: 6;
$grid-gutter-width: 10px;