@mixin make-container($gutter) {
    margin-left: auto;
    margin-right: auto;
    padding-left: floor(($gutter / 2));
    padding-right: ceil(($gutter / 2));
}

@mixin make-row($gutter) {
    display: flex;
    flex-wrap: wrap;
    margin-left: ceil(($gutter / -2));
    margin-right: floor(($gutter / -2));
}

@mixin make-col($gutter) {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
}

@mixin calc-grid-col($index, $class, $type) {
    @if ($type==size) and ($index > 0) {
        .col-#{$class}-#{$index} {
            flex: 0 0 percentage($index / $grid-columns);
            max-width: percentage($index / $grid-columns);
        }
    }
}

@mixin loop-grid-cols($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-col($i, $class, $type);
    }
}

@mixin make-grid($class) {
    @include loop-grid-cols($grid-columns, $class, size);
}