@mixin respond-to($media) {
    @if $media==xs {
        @media (max-width: $screen-xs-max) {
            @content
        }
    }

    @else if $media==sm {
        @media (min-width: $screen-sm-min) {
            @content
        }
    }
}

@mixin respond-ie() {

    @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
        @content
    }
}