<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__text">
                footer
            </div>
        </div>
    </div>
</footer>