<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__text">
                header
            </div>
        </div>
    </div>
</header>