<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>AGIMA test</title>

    <link rel="stylesheet" href="libs/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>