<!DOCTYPE html>
<html lang="ru">

{% include "inc.head.html" %}

<body>
    <div class="chat">
        <div class="chat-content">
            <div class="chat-messages">
                <div class="chat-messages__date">21 октября 2017</div>

                <div class="chat-messages__item chat-messages__item_align_left">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_right">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Lorem ipsum dolor sit amet</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_left">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Duis eu dignissim justo. Suspendisse vel nibh auctor ex
                            eleifend tempor sagittis ut ligula. Nulla eget lorem dapibus, tincidunt est eget, commodo
                            sem.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_right">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Duis eu facilisis urna.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_right">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Cras urna nisl, venenatis eu mi ut, aliquam bibendum ante.</span></div>
                </div>

                <div class="chat-messages__date">26 октября 2017</div>

                <div class="chat-messages__item chat-messages__item_align_left">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Duis eu facilisis urna?</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_left">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Duis faucibus est vitae sem lacinia, sit amet luctus nulla
                            imperdiet. Aliquam quis tortor ante. Sed vel metus porta, tristique neque et, viverra orci.
                            In hac habitasse platea dictumst.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_right">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>ProindictumrisussedmaurisporttitorinegestasquammaximusVivamusmiligulahendreritintinciduntnecultricesmattislibero.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_left">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Integer neque est, posuere quis lorem placerat, euismod
                            ultrices arcu.</span></div>
                </div>

                <div class="chat-messages__item chat-messages__item_align_right">
                    <div class="chat-messages__avatar"><img src="img/avatar.jpg" alt="avatar" /></div>
                    <div class="chat-messages__text"><span>Maecenas ultricies accumsan metus iaculis commodo. Etiam
                            molestie imperdiet tellus non pharetra.</span></div>
                </div>
            </div>
        </div>

        <div class="chat-form">
            <form action="" method="POST">
                <div class="chat-form__group">
                    <textarea class="chat-form__textarea" name="message"></textarea>
                </div>
                <button class="chat-form__button" type="submit" disabled>Отправить</button>
            </form>
        </div>
    </div>

</body>

</html>