<!DOCTYPE html>
<html lang="ru">

{% include "inc.head.html" %}

<body>
    <div class="wrapper">
        {% include "inc.header.html" %}

        <div class="content">
            <div class="container">
                <div class="tiles">
                    <div class="row">
                        <div class="col col-xs-6 col-sm-4">
                            <div class="row">
                                <div class="col col-xs-3">
                                    <div class="tiles__item tiles__item_color_silver">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Наши сотрудники</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-3">
                                    <div class="tiles__item tiles__item_color_silver">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Просветляет понимающий тест</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-6">
                                    <div class="tiles__item tiles__item_color_silver">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Конформизм</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-6 col-sm-2">
                            <div class="row">
                                <div class="col col-xs-3 col-sm-6">
                                    <div class="tiles__item tiles__item_color_blue">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Интроекция</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-3 col-sm-6">
                                    <div class="tiles__item tiles__item_color_orange">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Наши сотрудники</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-4 order-sm-first">
                            <div class="tiles__item tiles__item_color_gray tiles__item_figure_square">
                                <div class="tiles__inner">
                                    <div class="tiles__text tiles__text_color_white tiles__text_size_big tiles__text_align_start text-center">
                                        Гений непредвзято понимает подсобой конфликт. Закон
                                        внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл.
                                        Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам,
                                        поэтому закон исключённого третьего индуцирует изоморфный ротор.</div>

                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-2 order-sm-first">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="tiles__item tiles__item_color_gray tiles__item_figure_square">
                                        <div class="tiles__inner">
                                            <div class="tiles__text tiles__text_color_white">Чувство однократно</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-6">
                                    <div class="tiles__item tiles__item_color_gray tiles__item_figure_square">
                                        <div class="tiles__inner">
                                            <div class="tiles__text tiles__text_color_white">Морено</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-sm-2 hidden-xs">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="tiles__item tiles__item_color_green tiles__item_figure_square">
                                        <div class="tiles__inner">
                                            <div class="tiles__inner">
                                                <div class="tiles__text">Понятие модернизации понимает механизм власти</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-sm-6">
                                    <div class="tiles__item tiles__item_figure_square tiles__item_event_hover">
                                        <div class="tiles__inner">
                                            <div class="tiles__image tiles__image_name_sea"></div>
                                            <div class="tiles__image-ie tiles__image-ie_name_sea">
                                                <svg xmlns="http://www.w3.org/2000/svg">
                                                    <image width="100%" height="100%" xlink:href="./img/sea.jpg" />
                                                    <filter id="blur">
                                                        <feGaussianBlur stdDeviation="4" />
                                                    </filter>
                                                </svg>
                                            </div>
                                            <div class="tiles__text tiles__text_color_white">Наши сотрудники</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-sm-4 hidden-xs">
                            <div class="tiles__item tiles__item_color_green tiles__item_figure_square">
                                <div class="tiles__inner">
                                    <div class="tiles__table tiles-table">
                                        <div class="tiles-table__row">
                                            <div class="tiles-table__cell tiles-table__cell_role_title">Фамилия</div>
                                            <div class="tiles-table__cell tiles-table__cell_role_value">
                                                <span class="tiles-table__text tiles-table__text_color_green">Мамай</span>
                                            </div>
                                        </div>
                                        <div class="tiles-table__row">
                                            <div class="tiles-table__cell tiles-table__cell_role_title">Имя и отчество</div>
                                            <div class="tiles-table__cell tiles-table__cell_role_value">
                                                <span class="tiles-table__text tiles-table__text_color_green">Станиславаленина
                                                    Владимировна</span>
                                            </div>
                                        </div>
                                        <div class="tiles-table__row">
                                            <div class="tiles-table__cell tiles-table__cell_role_title">Номер полиса
                                                выдан
                                                заведомо ложный</div>
                                            <div class="tiles-table__cell tiles-table__cell_role_value">
                                                <span class="tiles-table__text tiles-table__text_color_green">01354879</span>
                                            </div>
                                        </div>
                                        <div class="tiles-table__row">
                                            <div class="tiles-table__cell tiles-table__cell_role_title">Дата рождения</div>
                                            <div class="tiles-table__cell tiles-table__cell_role_value">
                                                <span class="tiles-table__text tiles-table__text_color_green">01.12.1976</span>
                                            </div>
                                        </div>
                                        <div class="tiles-table__row">
                                            <div class="tiles-table__cell tiles-table__cell_role_title">Телефон</div>
                                            <div class="tiles-table__cell tiles-table__cell_role_value">
                                                <span class="tiles-table__text tiles-table__text_color_green">+79254218069</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-6 col-sm-4 order-sm-last">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <div class="tiles__item tiles__item_color_coral">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Однако</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-3">
                                    <div class="tiles__item tiles__item_color_coral">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Точка перегиба</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-3">
                                    <div class="tiles__item tiles__item_color_purple">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Длина вектора</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-xs-6 col-sm-2">
                            <div class="row">
                                <div class="col col-xs-3 col-sm-6">
                                    <div class="tiles__item tiles__item_color_coral">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Лидерство</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-xs-3 col-sm-6">
                                    <div class="tiles__item tiles__item_color_red">
                                        <div class="tiles__inner">
                                            <div class="tiles__text">Невероятный гений</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "inc.footer.html" %}
    </div>

</body>

</html>